@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --blue: #5868bd; --dark-blue: #06124d; --gold: #b1913a; 
    --dark-grey: #46434d; --light-grey: #5f6274; --grey: #494854;
    --orange: #fe9f4c; --dark-orange: #ce3405; --red: #af4860;
    --white: #d7dce2; --output-screen: #5d887e; --output: #30473f;
    --outline: #898da0;
}

*, *::before, *::after {
    box-sizing: border-box; margin: 0; padding: 0;
}

body {
    font-family: 'Poppins', sans-serif; font-weight: normal;
    background-color: var(--white);
}

.container {
    display: flex; align-items: center;
    width: 100vw; height: 100vh; 
}

.calc-container {
    display: flex; align-items: center; flex-direction: column;
    margin: 0 auto;
    width: 350px; height: 480px; padding: 5px;
    background-color: var(--grey);
    border: 5px inset var(--outline);border-radius: 15px;
}

.operand {
    font-size: 20px;
}

.output {
    display: flex; justify-content: start; align-items: flex-start;
    background-color: var(--output-screen); color: var(--output);
    width: 95%; height: 180px; padding: 5px; margin-top: 2px; margin-bottom: 1px;
    border: 1px solid #000; border-radius: 10px; 
}

h1 {
    color: var(--white);
}

.result {
    font-size: 30px;
    align-self: flex-end;
    margin-left: auto;
}

.button{
    font-family: inherit;
    background-color: var(--dark-grey); color: var(--white);
    width: 55px; height: 55px; margin: 5px; 
    border: 1px solid #000; border-radius: 3px;
}

.button:hover{
    background-color: var(--white); color: var(--dark-grey);
}

#delete, #clear {
    background-color: var(--orange); color: #000; border: 1px solid var(--dark-orange);
}

#delete:hover, #clear:hover {
    background-color: var(--dark-orange); color: var(--white);
}

.input {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center; 
    width: 100%; height: 80%;
}